@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Future';
    font-style: normal;
    font-weight: 100;
    src: url(./fonts/Konstruktor.woff2) format('woff2');
  }
  html {
    font-family: "Future", "Helvetica", system-ui;
  }
}